.branding
  .logo
  .app-name Vijual

.file-actions
  button.action.new-file New
  button.action.load-file Open
  button.action.save-file Save
  input.file-uploader.visually-hidden( type='file' )
  button.action.add-object Add Object

.app-actions
  .bpm
    button.sync-button BPM
    input.bpm-value( type='text', value='120' )
  button.action.new-render-window Render
  button.action.new-props-window Properties
  button.action.new-scene-window Scene
  button.action.toggle-stats Stats
