.canvas-holder
  .r: canvas#sceneCanvas( width=(App.config.renderer.lowDisplayWidth), height=(App.config.renderer.lowDisplayHeight) )
.interaction-layer#interaction-layer
  .interaction-object
.sceneActions
  button.streamToggle Stream
