@import "fonts.styl"
@import "variables.styl"

@import "uikit"

@import "base.styl"
@import "vui.styl"
@import "views"

#tempHolder
  position absolute
  top 60px
  left 60px
  z-index 1000
  width 800
  height 600px
  background #ccc
