.r
  position relative

html
  background #000
  color #fff
body
  background transparent
  user-select none
  cursor default
  font-family UIFont

html, body
  color #fff
  height 100%

html.unbounce, body.unbounce
  height 100%
  width 100%
  overflow hidden

.scroll-area
  overflow auto
  -webkit-overflow-scrolling touch

#render-body
  background #000

*:focus, *:active
  outline none
