// 100 Thin
// 300 Light
// 400 Regular
// 500 Medium
// 700 Bold
// 900 Black

@font-face
  font-family BrandonGrotesque
  font-style normal
  font-weight 100
  src url(../fonts/BrandonGrotesque_Thin.otf)
@font-face
  font-family BrandonGrotesque
  font-style italic
  font-weight 100
  src url(../fonts/BrandonGrotesque_Thin_Italic.otf)

@font-face
  font-family BrandonGrotesque
  font-style normal
  font-weight 300
  src url(../fonts/BrandonGrotesque_Light.otf)
@font-face
  font-family BrandonGrotesque
  font-style italic
  font-weight 300
  src url(../fonts/BrandonGrotesque_Light_Italic.otf)

@font-face
  font-family BrandonGrotesque
  font-style normal
  font-weight 400
  src url(../fonts/BrandonGrotesque_Regular.otf)
@font-face
  font-family BrandonGrotesque
  font-style italic
  font-weight 400
  src url(../fonts/BrandonGrotesque_Regular_Italic.otf)

@font-face
  font-family BrandonGrotesque
  font-style normal
  font-weight 500
  src url(../fonts/BrandonGrotesque_Medium.otf)
@font-face
  font-family BrandonGrotesque
  font-style italic
  font-weight 500
  src url(../fonts/BrandonGrotesque_Medium_Italic.otf)

@font-face
  font-family BrandonGrotesque
  font-style normal
  font-weight 700
  src url(../fonts/BrandonGrotesque_Bold.otf)
@font-face
  font-family BrandonGrotesque
  font-style italic
  font-weight 700
  src url(../fonts/BrandonGrotesque_Bold_Italic.otf)

@font-face
  font-family BrandonGrotesque
  font-style normal
  font-weight 900
  src url(../fonts/BrandonGrotesque_Black.otf)
@font-face
  font-family BrandonGrotesque
  font-style italic
  font-weight 900
  src url(../fonts/BrandonGrotesque_Black_Italic.otf)




@font-face
  font-family BrandonText
  font-style normal
  font-weight 100
  src url(../fonts/BrandonText_Thin.otf)
@font-face
  font-family BrandonText
  font-style italic
  font-weight 100
  src url(../fonts/BrandonText_Thin_Italic.otf)

@font-face
  font-family BrandonText
  font-style normal
  font-weight 300
  src url(../fonts/BrandonText_Light.otf)
@font-face
  font-family BrandonText
  font-style italic
  font-weight 300
  src url(../fonts/BrandonText_Light_Italic.otf)

@font-face
  font-family BrandonText
  font-style normal
  font-weight 400
  src url(../fonts/BrandonText_Regular.otf)
@font-face
  font-family BrandonText
  font-style italic
  font-weight 400
  src url(../fonts/BrandonText_Regular_Italic.otf)

@font-face
  font-family BrandonText
  font-style normal
  font-weight 500
  src url(../fonts/BrandonText_Medium.otf)
@font-face
  font-family BrandonText
  font-style italic
  font-weight 500
  src url(../fonts/BrandonText_Medium_Italic.otf)

@font-face
  font-family BrandonText
  font-style normal
  font-weight 700
  src url(../fonts/BrandonText_Bold.otf)
@font-face
  font-family BrandonText
  font-style italic
  font-weight 700
  src url(../fonts/BrandonText_Bold_Italic.otf)

@font-face
  font-family BrandonText
  font-style normal
  font-weight 900
  src url(../fonts/BrandonText_Black.otf)
@font-face
  font-family BrandonText
  font-style italic
  font-weight 900
  src url(../fonts/BrandonText_Black_Italic.otf)


@font-face
  font-family 'BrandonUI'
  src url(../fonts/BrandonText_Regular.otf)
