// .children{
//   background: #ffdb4c;
//   height: 300px;
//   position: relative;
//   top: 50%;
//   transform:      translateY(-50%);
// }


#tracks
  position absolute
  top 40px
  left 0
  right sidebarWidth
  height 48px
  background #000
  border-bottom 1px solid #000
  overflow hidden

  .track
    width 12.5%
    height 48px
    border-right 1px solid #000
    overflow hidden
    display inline-block

    .color-background
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      opacity 0.2
    &.selected .color-background
      opacity 0.6
    &.drop-hover .color-background
      opacity 0.6

    .opacity-bar
      position absolute
      left 0
      bottom 0
      width 100%
      height 5px
      border-top 1px solid rgba(#fff, 0.3)

    .name
      text-align center
      font-weight 500
      font-size 14px
      opacity 0.4
      position absolute
      top 11px
      left 6px
      right 6px
      height 20px
      white-space nowrap
      overflow hidden
      text-overflow ellipsis

    &.selected .name
      opacity 0.9

    &.inactive

      .color-background, .opacity-bar
        background-color #444 !important

      .object-opacity-bar
        opacity 0.6
