html
  height 100%

body
  min-height 100%
  font-family font_body
  font-size font_size_base
  line-height line_height_base

#container
  min-height 100%

#page
  width 100%
  background #fff

#content
  clearfix()




.clearfix
  clearfix()
.rel, .r
  position relative
  height 100%
.wrap
  width page_width
  margin 0 auto

.hide
  display none !important
.show
  display block !important
.hidden
  display none !important
  visibility hidden !important
.visually-hidden
  position absolute !important
  clip rect(1px 1px 1px 1px)
  clip rect(1px, 1px, 1px, 1px)
  top 0
  left 0
  width 1px
  height 1px
.invisible
  visibility hidden
.hide-text
  hide-text()
.sr-only
  position absolute
  width 1px
  height 1px
  margin -1px
  padding 0
  overflow hidden
  clip rect(0 0 0 0)
  border 0


.pull-right
  float right !important
.pull-left
  float left !important

.text-left
  text-align left
.text-center
  text-align center
.text-right
  text-align right
