// Set up the system
@import "variables.styl"
@import "mixins.styl"

// Base styles
@import "reset.styl"
@import "base.styl"
// @import "grid.styl"
// @import "content.styl"
// @import "tables.styl"
// @import "code.styl"

// Media styles
// @import "responsive.styl"
// @import "print.styl"


#msg {
 width:20em;
 height:24em;
 margin:.5em 0 .5em 0;
 padding:.5em;
 background-color:#eee;
 border:solid 1px #888;
 white-space:pre;
 font-family:Courier New, monospace;
 font-size:.75em;
 overflow:auto;
}
