// Typography

font_heading = "Futura", "Lucida Grande", "Lucida Sans", Verdana, sans-serif
font_body    = Georgia, sans-serif
font_mono    = "inconsolata", Consolas, "Lucida Console", Monaco, monospace

font_size_base  = 16px
font_size_large = ceil( font_size_base * 1.25 )
font_size_small = ceil( font_size_base * 0.85 )
text_color      = #444
key_color       = #166aa0

line_height_base     = 1.7
line_height_computed = floor( font_size_base * line_height_base )

// Media Queries, because Stylus is not so awesome

screen_small_width  = 480px
screen_medium_width = 768px
screen_large_width  = 1024px

screen_small_min = "all and (min-width: " + screen_small_width + ")"
screen_medium_min = "all and (min-width: " + screen_medium_width + ")"
screen_large_min = "all and (min-width: " + screen_large_width + ")"

screen_tiny_max_width = screen_small_width  - 1px
screen_small_max_width  = screen_medium_width  - 1px
screen_medium_max_width = screen_large_width - 1px

screen_tiny_max = "all and (max-width: " + screen_tiny_max_width + ")"
screen_small_max = "all and (max-width: " + screen_small_max_width + ")"
screen_medium_max = "all and (max-width: " + screen_medium_max_width + ")"

screen_tiny_only = screen_tiny_max
screen_small_only = "all and (min-width: " + screen_small_width + ") and (max-width: " + screen_small_max_width + ")"
screen_medium_only = "all and (min-width: " + screen_medium_width + ") and (max-width: " + screen_medium_max_width + ")"
screen_large_only = screen_large_min

// (default tiny)---(tiny_max) 480 (small_min)---small---(small_max) 768 (medium_min)---medium---(medium-max) 1024 (large-min)---large

content_max_width = 990px

menu_expand_width = 660px
menu_expand = "all and (min-width: " + menu_expand_width + ")"

// Grid

grid_columns      = 12
grid_gutter       = 30px

// Tables

table_cell_padding = 8px
table_condensed_cell_padding = 5px
table_bg = transparent
table_bg_accent = #f9f9f9
table_bg_hover = #f5f5f5
table_bg_active = table_bg_hover
table_border_color = #ddd

// Code

code_color = #c7254e
code_bg = #f9f2f4
pre_bg = #f5f5f5
pre_color = #555
pre_border-color = #ccc
pre_scrollable_max_height = 340px
